.headerContainer {
  width: 100%;
  text-align: justify;
  padding: 0 2rem 1rem 0;
}

.headerContainer p {
  margin-top: 2rem;
}

.titleDiv {
  font-family: "Kanit", sans-serif;
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.text {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
  transition: 0.1s ease;
  transition-delay: 0.25s;
}

.hoverText {
  position: absolute;
  inset: 0;
  width: 0%;
  color: var(--primary-hover);
  overflow: hidden;
  border-right: 6px solid var(--primary-hover);
  transition: 0.5s ease-in-out;
}

.titleDiv:hover .hoverText {
  width: 100%;
  filter: drop-shadow(0 0 50px var(--primary-hover));
}

.titleDiv:hover .text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
}

@media (max-width: 768px) {
  .titleDiv {
    font-size: 3rem;
  }
}