:root {
  --primary: #118185;
  --primary-hover: #1af7ff;
  --bg: #111315;
  --secondary: #262626;
  --secondary-hover: #383838;
  --dropzone-bg: #1A1C1E;
  --gray: #D3D3D3;
  --border: #333333;
  --dropzone-border: #FFF;
  --headline: #FFF;
  --text: #FFF;
  --primary-text: #F2F7FE;
  --dropzone-over: var(--secondary);
}

*::selection {
  background: var(--primary);
  color: var(--btn-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
