.dropzone-box {
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 36rem;
    border: 1px solid var(--border);
    background: var(--dropzone-bg);
}

.dropzone-box h2 {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    color: var(--headline);
}

.dropzone-box p {
    font-size: 1.15rem;
    color: var(--gray);
}

.dropzone-area {
    padding: 1rem;
    position: relative;
    margin-top: 1.5rem;
    min-height: 12rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed var(--dropzone-border);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropzone-area .file-info {
    font-size: 1.1rem;
}

.dropzone-area [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropzone-area .file-upload-icon svg {
    height: 5rem;
    max-width: 5rem;
    width: 100%;
    margin-bottom: 0.5rem;
    stroke: var(--headline);
}

.dropzone-area:hover {
    background: var(--dropzone-over);
}

.dropzone--over {
    border: 2px solid var(--primary);
    background: var(--dropzone-over);
}

.dropzone-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.dropzone-actions button {
    flex-grow: 1;
    min-height: 3rem;
    font-size: 1.2rem;
    border: none;
    transition: background 0.3s ease;
}


.dropzone-actions button[type='reset'] {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--text);
    background: var(--secondary);
    cursor: pointer;
    border: 1px solid var(--border);
}

.dropzone-actions button[type='reset']:hover {
    background: var(--secondary-hover);
}

.dropzone-actions button[type='submit'] {
    background: var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--primary-text);
    border: none;
    cursor: pointer;
}

.dropzone-actions button[type='submit']:hover {
    background: var(--primary-hover);
    color: var(--border);
    font-weight: 500;
}